<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="ingredientName">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            formControlName="ingredientAmount">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            [disabled]="ingredientForm.invalid"
            class="btn btn-success"
            type="submit"
            >{{ editMode ? 'Save' : 'Add'}}</button>
          <button
            *ngIf="editMode"
            class="btn btn-danger m-xs-5"
            type="button"
            (click)="onDelete()"
          >Delete</button>
          <button
            class="btn btn-primary"
            type="button"
            (click)="onClear()"
          >Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>

